<p>Por Pais</p>
<hr>

<div class="row">
  <div class="col">
    <!-- SearchBox -->
     <!-- [] hacemos que lo va a recibir un decorador de Input -->
      <!-- () hacemos que lo va a sacar un decorador de Output a traves de un event emit-->
     <shared-search-box
        [initialValue] = "initialValue"
        (OnDebounce)="searchCountry($event)"
        placeholdercesar="Buscar por capital"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
